body{
  background: #b9a6b6 url(./images/fondo.png);
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-attachment: scroll;
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  font-size: 15pt;
  line-height: 1.5;
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-family: 'Quicksand', sans-serif;
}

input[type=button], 
input[type=submit], 
input[type=reset]
{
background: rgb(224, 220, 224);
border: none;
color:black;
width:100px;
height:40px;
font-size: 10px;
min-width: 10%;
margin: 3px 4px;
cursor: pointer;
text-align:center;
box-shadow: 3px 3px 3px rgb(54, 13, 73);
}
